In [1]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [2]:
ay_2019 = pd.read_csv("../Resources/2019.csv")
ay_2018 = pd.read_csv("../Resources/2018.csv")
ay_2017 = pd.read_csv("../Resources/2017.csv")
ay_2016 = pd.read_csv("../Resources/2016.csv")
ay_2015 = pd.read_csv("../Resources/2015.csv")
ay_2014 = pd.read_csv("../Resources/2014.csv")
ay_2013 = pd.read_csv("../Resources/2013.csv")
ay_2012 = pd.read_csv("../Resources/2012.csv")
ay_2011 = pd.read_csv("../Resources/2011.csv")
ay_2010 = pd.read_csv("../Resources/2010.csv")
ay_2009 = pd.read_csv("../Resources/2009.csv")

#df_list = [ay_2019, ay_2018, ay_2017, ay_2016, ay_2015, ay_2014, 
#            ay_2013, ay_2012, ay_2011, ay_2010, ay_2009]

df_list = [ay_2009, ay_2010, ay_2011, ay_2012, ay_2013, ay_2014, ay_2015, ay_2016, ay_2017, ay_2018, ay_2019]

#ay_2014.head()

df_list

[    Unnamed: 0            full_name position team  targets  rec  rec_yards  \
 0            1     Larry Fitzgerald       WR  ARI      154   97       1092
 1            2     Brandon Marshall       WR  DEN      154  101       1120
 2            3       DeSean Jackson       WR  PHI      118   63       1167
 3            4         Mike Wallace       WR  PIT       72   39        756
 4            5        Jeremy Maclin       WR  PHI       90   55        762
 5            6        Pierre Garcon       WR  IND       92   47        765
 6            7          Kenny Britt       WR  TEN       75   42        701
 7            8     Michael Crabtree       WR   SF       86   48        625
 8            9             Ted Ginn       WR  MIA       78   38        454
 9           10       Danny Amendola       WR  STL       63   43        326
 10          11       Julian Edelman       WR   NE       54   37        359
 11          12         Jordy Nelson       WR   GB       31   22        320
 12          13  Darrius Heyward-Bey       WR  OAK       40    9        124
 13          14           Eric Weems       WR  ATL        6    6         50
 14          15         Brandon Tate       WR   NE        2    0          0
 15          16       Matthew Slater       WR   NE        0    0          0

     air_yards  yac  td  adot  racr  ms_air  tgt_share  wopr    ppr
 0        1779  312  13  11.6  0.61    0.39       0.26  0.66  284.2
 1        1367  515  10   8.9  0.82    0.40       0.31  0.74  276.9
 2        1599  404   9  13.6  0.73    0.36       0.22  0.59  253.4
 3        1359  143   6  18.9  0.56    0.27       0.13  0.39  155.4
 4        1057  241   4  11.7  0.72    0.27       0.20  0.48  154.5
 5        1299  284   4  14.1  0.59    0.28       0.17  0.46  148.5
 6         997  180   3  13.3  0.70    0.25       0.16  0.42  130.1
 7         929  219   2  10.8  0.67    0.36       0.22  0.59  122.5
 8        1239   43   1  15.9  0.37    0.27       0.14  0.40   94.2
 9         324  186   1   5.1  1.01    0.10       0.13  0.27   81.4
 10        179  257   1   3.3  2.01    0.06       0.14  0.26   79.4
 11        374   89   2  12.1  0.86    0.09       0.07  0.17   66.0
 12        637   12   1  15.9  0.19    0.22       0.13  0.35   29.3
 13         28   22   2   4.7  1.79    0.01       0.01  0.02   28.3
 14         73    0   0  36.5  0.00    0.12       0.03  0.13    1.1
 15          0    0   0   NaN   NaN    0.00       0.00  0.00    0.6  ,
     Unnamed: 0            full_name position team  targets  rec  rec_yards  \
 0            1         Mike Wallace       WR  PIT       99   60       1257
 1            2     Larry Fitzgerald       WR  ARI      173   90       1137
 2            3        Jeremy Maclin       WR  PHI      115   70        964
 3            4     Brandon Marshall       WR  MIA      146   86       1014
 4            5       DeSean Jackson       WR  PHI       96   47       1056
 5            6        Pierre Garcon       WR  IND      119   68        816
 6            7       Danny Amendola       WR  STL      123   85        689
 7            8          Kenny Britt       WR  TEN       73   42        775
 8            9     Michael Crabtree       WR   SF      101   55        741
 9           10           Dez Bryant       WR  DAL       72   45        561
 10          11         Jordy Nelson       WR   GB       64   45        582
 11          12       Brandon LaFell       WR  CAR       77   38        468
 12          13         Brandon Tate       WR   NE       46   24        432
 13          14       Arrelious Benn       WR   TB       38   25        395
 14          15     Emmanuel Sanders       WR  PIT       50   28        376
 15          16  Darrius Heyward-Bey       WR  OAK       65   26        366
 16          17        Andre Roberts       WR  ARI       49   24        307
 17          18     Demaryius Thomas       WR  DEN       39   22        283
 18          19        Harry Douglas       WR  ATL       53   22        294
 19          20          Golden Tate       WR  SEA       39   21        227
 20          21             Ted Ginn       WR   SF       35   12        163
 21          22        Antonio Brown       WR  PIT       20   16        167
 22          23          Eric Decker       WR  DEN        8    6        106
 23          24       Julian Edelman       WR   NE       14    7         86
 24          25           Eric Weems       WR  ATL        6    6         61
 25          26       Matthew Slater       WR   NE        1    0          0

     air_yards  yac  td  adot  racr  ms_air  tgt_share  wopr    ppr
 0        1552  352  10  15.7  0.81    0.33       0.21  0.54  249.6
 1        2106  210   6  12.2  0.54    0.39       0.31  0.74  239.7
 2        1452  273  10  12.6  0.66    0.29       0.20  0.51  230.0
 3        1643  226   3  11.3  0.62    0.38       0.29  0.70  205.7
 4        1567  346   6  16.3  0.67    0.37       0.20  0.56  205.0
 5        1430  251   6  12.0  0.57    0.28       0.20  0.50  186.2
 6         644  363   3   5.2  1.07    0.17       0.21  0.43  180.0
 7        1195  151   9  16.4  0.65    0.35       0.22  0.58  173.5
 8         999  292   6   9.9  0.74    0.25       0.20  0.48  165.1
 9         788  193   6  10.9  0.71    0.26       0.16  0.43  137.1
 10        667  250   2  10.4  0.87    0.13       0.12  0.27  115.2
 11        793  128   1  10.3  0.59    0.25       0.18  0.44   96.8
 12        601  151   3  13.1  0.72    0.15       0.09  0.24   91.4
 13        460  170   2  12.1  0.86    0.12       0.09  0.21   80.0
 14        631   71   2  12.6  0.60    0.15       0.12  0.28   77.6
 15        940  106   1  14.5  0.39    0.25       0.15  0.40   73.4
 16        428  138   2   8.7  0.72    0.09       0.10  0.22   66.7
 17        355  139   2   9.1  0.80    0.10       0.10  0.22   62.4
 18        652  124   1  12.3  0.45    0.15       0.10  0.25   56.9
 19        393  109   0  10.1  0.58    0.12       0.10  0.24   44.1
 20        526   38   1  15.0  0.31    0.16       0.09  0.24   35.4
 21        116  113   0   5.8  1.44    0.05       0.08  0.15   32.7
 22        120   24   1  15.0  0.88    0.04       0.02  0.06   22.6
 23         46   99   0   3.3  1.87    0.01       0.03  0.06   17.0
 24         39   22   0   6.5  1.56    0.01       0.01  0.02   12.1
 25         51    0   0  51.0  0.00    0.02       0.00  0.02    0.0  ,
     Unnamed: 0            full_name position team  targets  rec  rec_yards  \
 0            1         Jordy Nelson       WR   GB       96   68       1263
 1            2     Larry Fitzgerald       WR  ARI      154   80       1411
 2            3         Mike Wallace       WR  PIT      114   72       1193
 3            4     Brandon Marshall       WR  MIA      141   81       1221
 4            5           A.J. Green       WR  CIN      115   65       1057
 5            6           Dez Bryant       WR  DAL      103   63        928
 6            7          Julio Jones       WR  ATL       95   54        959
 7            8        Pierre Garcon       WR  IND      134   70        947
 8            9        Antonio Brown       WR  PIT      124   69       1108
 9           10  Darrius Heyward-Bey       WR  OAK      115   64        975
 10          11     Michael Crabtree       WR   SF      115   73        880
 11          12       DeSean Jackson       WR  PHI      104   58        961
 12          13         Torrey Smith       WR  BAL       95   50        841
 13          14        Jeremy Maclin       WR  PHI       96   63        859
 14          15         Doug Baldwin       WR  SEA       85   51        788
 15          16          Eric Decker       WR  DEN       94   44        612
 16          17        Andre Roberts       WR  ARI       98   51        586
 17          18       Brandon LaFell       WR  CAR       56   36        613
 18          19     Demaryius Thomas       WR  DEN       70   32        551
 19          20        Harry Douglas       WR  ATL       62   39        498
 20          21          Golden Tate       WR  SEA       58   35        382
 21          22       Arrelious Benn       WR   TB       51   30        441
 22          23        Jeremy Kerley       WR  NYJ       47   29        314
 23          24         Randall Cobb       WR   GB       30   24        369
 24          25          Kenny Britt       WR  TEN       26   17        289
 25          26     Emmanuel Sanders       WR  PIT       43   22        288
 26          27             Ted Ginn       WR   SF       33   19        220
 27          28           Eric Weems       WR  ATL       14   11         90
 28          29       Danny Amendola       WR  STL        6    5         45
 29          30       Julian Edelman       WR   NE        8    4         34
 30          31       Matthew Slater       WR   NE        3    1         46
 31          32         Brandon Tate       WR  CIN        0    0          0
 32          33        Dwayne Harris       WR  DAL        0    0          0
 33          34          Kamar Aiken       WR  BUF        0    0          0
 34          35       Terrelle Pryor       WR  OAK        0    0          0

     air_yards  yac  td  adot  racr  ms_air  tgt_share  wopr    ppr
 0        1201  411  15  12.5  1.05    0.24       0.17  0.43  284.3
 1        2051  516   8  13.3  0.69    0.43       0.28  0.72  269.1
 2        1444  480   8  12.7  0.83    0.29       0.21  0.52  245.0
 3        1767  312   6  12.5  0.69    0.39       0.30  0.72  239.1
 4        1516  278   7  13.2  0.70    0.39       0.24  0.62  218.0
 5        1214  348   9  11.8  0.76    0.31       0.20  0.51  210.3
 6        1292  407   8  13.6  0.74    0.29       0.19  0.48  203.5
 7        1530  357   6  11.4  0.62    0.35       0.25  0.62  203.5
 8        1525  372   2  12.3  0.73    0.31       0.23  0.56  195.9
 9        1617  264   4  14.1  0.60    0.32       0.23  0.58  185.5
 10       1057  365   4   9.2  0.83    0.33       0.27  0.63  185.0
 11       1568  236   4  15.1  0.61    0.31       0.20  0.52  182.2
 12       1692  238   7  17.8  0.50    0.36       0.19  0.53  180.0
 13       1172  262   5  12.2  0.73    0.29       0.22  0.53  179.0
 14        946  310   4  11.1  0.83    0.21       0.17  0.40  153.6
 15       1377  177   8  14.6  0.44    0.28       0.22  0.52  153.3
 16        926  226   2   9.4  0.63    0.19       0.18  0.40  124.3
 17        746  239   3  13.3  0.82    0.16       0.12  0.29  115.3
 18       1086  113   4  15.5  0.51    0.31       0.27  0.63  111.6
 19        643  232   1  10.4  0.77    0.15       0.12  0.28   95.1
 20        659  158   3  11.4  0.58    0.16       0.12  0.30   92.6
 21        616  174   3  12.1  0.72    0.16       0.10  0.26   91.4
 22        489  100   1  10.4  0.64    0.13       0.10  0.24   69.2
 23        292  180   1   9.7  1.26    0.06       0.06  0.13   68.0
 24        335  122   3  12.9  0.86    0.38       0.23  0.62   63.9
 25        585  128   2  13.6  0.49    0.17       0.11  0.29   62.8
 26        369   43   0  11.2  0.60    0.12       0.08  0.21   47.8
 27         92   30   0   6.6  0.98    0.02       0.02  0.05   20.0
 28         26   25   0   4.3  1.73    0.14       0.17  0.35    9.5
 29        106    8   0  13.2  0.32    0.03       0.02  0.04    8.2
 30        177    0   0  59.0  0.26    0.04       0.01  0.04    5.6
 31          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 32          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 33          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 34          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0  ,
     Unnamed: 0            full_name position team  targets  rec  rec_yards  \
 0            1     Brandon Marshall       WR  CHI      192  118       1508
 1            2           A.J. Green       WR  CIN      164   97       1350
 2            3     Demaryius Thomas       WR  DEN      141   94       1442
 3            4           Dez Bryant       WR  DAL      135   89       1357
 4            5          Eric Decker       WR  DEN      122   85       1064
 5            6          Julio Jones       WR  ATL      128   79       1198
 6            7     Michael Crabtree       WR   SF      127   85       1105
 7            8         Randall Cobb       WR   GB      104   80        954
 8            9        Jeremy Maclin       WR  PHI      122   69        857
 9           10         Mike Wallace       WR  PIT      119   64        838
 10          11         Torrey Smith       WR  BAL      110   49        855
 11          12      Justin Blackmon       WR  JAC      132   64        865
 12          13          T.Y. Hilton       WR  IND       90   50        861
 13          14        Antonio Brown       WR  PIT      106   66        787
 14          15     Larry Fitzgerald       WR  ARI      156   71        798
 15          16        Andre Roberts       WR  ARI      114   64        759
 16          17         Jordy Nelson       WR   GB       73   49        745
 17          18          Josh Gordon       WR  CLE       95   50        805
 18          19          Golden Tate       WR  SEA       67   45        682
 19          20        Jeremy Kerley       WR  NYJ       95   56        827
 20          21       Kendall Wright       WR  TEN      104   64        626
 21          22       Danny Amendola       WR  STL      101   63        666
 22          23       Brandon LaFell       WR  CAR       76   44        677
 23          24        Pierre Garcon       WR  WAS       68   45        644
 24          25  Darrius Heyward-Bey       WR  OAK       80   41        606
 25          26          Kenny Britt       WR  TEN       90   45        589
 26          27       DeSean Jackson       WR  PHI       87   45        700
 27          28        Michael Floyd       WR  ARI       86   45        562
 28          29     Emmanuel Sanders       WR  PIT       74   44        626
 29          30        Harry Douglas       WR  ATL       59   38        396
 30          31         Doug Baldwin       WR  SEA       50   29        366
 31          32       Alshon Jeffery       WR  CHI       48   24        367
 32          33       Julian Edelman       WR   NE       32   21        235
 33          34      Travis Benjamin       WR  CLE       37   18        298
 34          35        Jarius Wright       WR  MIN       36   22        310
 35          36         Mohamed Sanu       WR  CIN       25   16        154
 36          37     Aldrick Robinson       WR  WAS       19   11        237
 37          38         Marvin Jones       WR  CIN       32   18        201
 38          39        Dwayne Harris       WR  DAL       31   17        222
 39          40         Brandon Tate       WR  CIN       25   13        211
 40          41          Brian Quick       WR  STL       27   11        156
 41          42         Cole Beasley       WR  DAL       24   15        128
 42          43     Rishard Matthews       WR  MIA       20   11        151
 43          44       Terrelle Pryor       WR  OAK        1    1         22
 44          45      Deonte Thompson       WR  BAL        6    5         51
 45          46       Arrelious Benn       WR   TB        6    4         26
 46          47      Jermaine Kearse       WR  SEA        7    3         31
 47          48           Eric Weems       WR  CHI        4    2         27
 48          49         Andre Holmes       WR  DAL        2    2         11
 49          50             Ted Ginn       WR   SF        2    2          1
 50          51         Josh Bellamy       WR   KC        0    0          0
 51          52       Matthew Slater       WR   NE        0    0          0

     air_yards  yac  td   adot  racr  ms_air  tgt_share  wopr    ppr
 0        2327  339  11   12.1  0.65    0.49       0.40  0.94  334.6
 1        2239  361  11   13.7  0.60    0.48       0.30  0.79  301.8
 2        1521  567  10   10.8  0.95    0.32       0.24  0.58  298.2
 3        1657  438  12   12.3  0.82    0.29       0.21  0.51  296.2
 4        1385  267  13   11.4  0.77    0.29       0.21  0.51  269.4
 5        1521  511  10   11.9  0.79    0.31       0.21  0.53  261.8
 6         965  544   9    7.6  1.15    0.25       0.29  0.62  250.3
 7         816  456   8    7.8  1.17    0.19       0.20  0.44  236.6
 8        1315  253   7   10.8  0.65    0.27       0.21  0.50  196.7
 9        1621  268   8   13.6  0.52    0.33       0.22  0.55  196.5
 10       2002  211   8   18.2  0.43    0.37       0.20  0.55  183.4
 11       1438  284   5   10.9  0.60    0.29       0.23  0.54  182.8
 12       1115  378   7   12.4  0.77    0.19       0.15  0.36  181.0
 13       1095  353   5   10.3  0.72    0.27       0.23  0.53  177.1
 14       1623  282   4   10.4  0.49    0.34       0.26  0.62  174.8
 15       1091  221   5    9.6  0.70    0.24       0.20  0.47  172.8
 16        898  251   7   12.3  0.83    0.27       0.17  0.45  165.5
 17       1248  331   5   13.1  0.65    0.30       0.17  0.46  160.5
 18        946  258   7   14.1  0.72    0.24       0.18  0.44  157.2
 19        971  292   2   10.2  0.85    0.22       0.19  0.44  151.5
 20        724  314   4    7.0  0.86    0.16       0.20  0.42  151.0
 21        805  240   3    8.0  0.83    0.26       0.27  0.59  148.4
 22        780  318   4   10.3  0.87    0.21       0.19  0.43  139.2
 23        673  313   4    9.9  0.96    0.32       0.27  0.62  133.6
 24       1059  230   5   13.2  0.57    0.22       0.13  0.35  133.2
 25       1144  138   4   12.7  0.51    0.27       0.19  0.47  127.9
 26       1295  225   2   14.9  0.54    0.36       0.21  0.57  126.3
 27        967  158   2   11.2  0.58    0.21       0.15  0.37  113.2
 28        893  185   1   12.1  0.70    0.17       0.13  0.32  113.0
 29        504  153   1    8.5  0.79    0.10       0.10  0.22   84.0
 30        618   82   3   12.4  0.59    0.17       0.14  0.33   83.6
 31        759   65   3   15.8  0.48    0.24       0.16  0.40   78.7
 32        239  138   3    7.5  0.98    0.08       0.09  0.20   67.0
 33        534   69   2   14.4  0.56    0.15       0.08  0.22   66.4
 34        383  109   2   10.6  0.81    0.25       0.18  0.44   66.1
 35        210   71   4    8.4  0.73    0.13       0.13  0.29   56.9
 36        358   62   3   18.8  0.66    0.16       0.07  0.22   54.1
 37        397   34   1   12.4  0.51    0.16       0.12  0.29   48.8
 38        301  115   1    9.7  0.74    0.06       0.05  0.11   45.2
 39        313   60   1   12.5  0.67    0.07       0.05  0.12   40.1
 40        335   32   2   12.4  0.47    0.08       0.05  0.14   38.6
 41        125   59   0    5.2  1.02    0.05       0.07  0.14   27.8
 42        241   30   0   12.1  0.63    0.12       0.10  0.23   26.1
 43        313   21   0  313.0  0.07    0.38       0.01  0.29   14.3
 44         45   23   0    7.5  1.13    0.02       0.03  0.06   10.1
 45         21   22   0    3.5  1.24    0.01       0.02  0.04    8.2
 46         93    1   0   13.3  0.33    0.08       0.06  0.14    6.1
 47         42    1   0   10.5  0.64    0.01       0.01  0.03    4.7
 48         24    3   0   12.0  0.46    0.02       0.01  0.03    3.1
 49         -4    5   0   -2.0 -0.25    0.00       0.01  0.01    2.8
 50          0    0   0    NaN   NaN    0.00       0.00  0.00    0.0
 51         13    0   0    inf  0.00    0.00       0.00  0.00    0.0  ,
     Unnamed: 0         full_name position team  targets  rec  rec_yards  \
 0            1  Demaryius Thomas       WR  DEN      142   92       1430
 1            2       Josh Gordon       WR  CLE      159   87       1646
 2            3        A.J. Green       WR  CIN      178   98       1426
 3            4  Brandon Marshall       WR  CHI      164  100       1295
 4            5     Antonio Brown       WR  PIT      165  109       1438
 ..         ...               ...      ...  ...      ...  ...        ...
 61          62        Eric Weems       WR  CHI        2    1          8
 62          63      Brandon Tate       WR  CIN        2    1          6
 63          64      Josh Bellamy       WR  WAS        0    0          0

In [3]:
###ADD YEAR###

year = 2009

for df in df_list:
    
    df["Year"] = year
    
    year += 1

df_list[0]

,Unnamed: 0,full_name,position,team,targets,rec,rec_yards,air_yards,yac,td,adot,racr,ms_air,tgt_share,wopr,ppr,Year
0,1,Larry Fitzgerald,WR,ARI,154,97,1092,1779,312,13,11.6,0.61,0.39,0.26,0.66,284.2,2009
1,2,Brandon Marshall,WR,DEN,154,101,1120,1367,515,10,8.9,0.82,0.40,0.31,0.74,276.9,2009
2,3,DeSean Jackson,WR,PHI,118,63,1167,1599,404,9,13.6,0.73,0.36,0.22,0.59,253.4,2009
3,4,Mike Wallace,WR,PIT,72,39,756,1359,143,6,18.9,0.56,0.27,0.13,0.39,155.4,2009
4,5,Jeremy Maclin,WR,PHI,90,55,762,1057,241,4,11.7,0.72,0.27,0.20,0.48,154.5,2009
5,6,Pierre Garcon,WR,IND,92,47,765,1299,284,4,14.1,0.59,0.28,0.17,0.46,148.5,2009
6,7,Kenny Britt,WR,TEN,75,42,701,997,180,3,13.3,0.70,0.25,0.16,0.42,130.1,2009
7,8,Michael Crabtree,WR,SF,86,48,625,929,219,2,10.8,0.67,0.36,0.22,0.59,122.5,2009
8,9,Ted Ginn,WR,MIA,78,38,454,1239,43,1,15.9,0.37,0.27,0.14,0.40,94.2,2009
9,10,Danny Amendola,WR,STL,63,43,326,324,186,1,5.1,1.01,0.10,0.13,0.27,81.4,2009
10,11,Julian Edelman,WR,NE,54,37,359,179,257,1,3.3,2.01,0.06,0.14,0.26,79.4,2009
11,12,Jordy Nelson,WR,GB,31,22,320,374,89,2,12.1,0.86,0.09,0.07,0.17,66.0,2009
12,13,Darrius Heyward-Bey,WR,OAK,40,9,124,637,12,1,15.9,0.19,0.22,0.13,0.35,29.3,2009
13,14,Eric Weems,WR,ATL,6,6,50,28,22,2,4.7,1.79,0.01,0.01,0.02,28.3,2009
14,15,Brandon Tate,WR,NE,2,0,0,73,0,0,36.5,0.00,0.12,0.03,0.13,1.1,2009
15,16,Matthew Slater,WR,NE,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.6,2009

In [4]:
merged_df = pd.concat(df_list)

In [5]:
merged_df

,Unnamed: 0,full_name,position,team,targets,rec,rec_yards,air_yards,yac,td,adot,racr,ms_air,tgt_share,wopr,ppr,Year
0,1,Larry Fitzgerald,WR,ARI,154,97,1092,1779,312,13,11.6,0.61,0.39,0.26,0.66,284.2,2009
1,2,Brandon Marshall,WR,DEN,154,101,1120,1367,515,10,8.9,0.82,0.40,0.31,0.74,276.9,2009
2,3,DeSean Jackson,WR,PHI,118,63,1167,1599,404,9,13.6,0.73,0.36,0.22,0.59,253.4,2009
3,4,Mike Wallace,WR,PIT,72,39,756,1359,143,6,18.9,0.56,0.27,0.13,0.39,155.4,2009
4,5,Jeremy Maclin,WR,PHI,90,55,762,1057,241,4,11.7,0.72,0.27,0.20,0.48,154.5,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,199,Juwann Winfree,WR,DEN,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.0,2019
199,200,Mack Hollins,WR,MIA,1,0,0,33,0,0,33.0,0.00,0.03,0.01,0.03,0.0,2019
200,201,Matthew Slater,WR,NE,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.0,2019
201,202,Taywan Taylor,WR,CLE,1,0,0,33,0,0,33.0,0.00,0.05,0.02,0.06,0.0,2019
202,203,Trevor Davis,WR,MIA,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.0,2019

In [6]:
###Clean DF for ML###

cleaned_df = merged_df.drop(columns=["full_name", "Unnamed: 0", "position", "team"])

cleaned_df

,targets,rec,rec_yards,air_yards,yac,td,adot,racr,ms_air,tgt_share,wopr,ppr,Year
0,154,97,1092,1779,312,13,11.6,0.61,0.39,0.26,0.66,284.2,2009
1,154,101,1120,1367,515,10,8.9,0.82,0.40,0.31,0.74,276.9,2009
2,118,63,1167,1599,404,9,13.6,0.73,0.36,0.22,0.59,253.4,2009
3,72,39,756,1359,143,6,18.9,0.56,0.27,0.13,0.39,155.4,2009
4,90,55,762,1057,241,4,11.7,0.72,0.27,0.20,0.48,154.5,2009
...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.0,2019
199,1,0,0,33,0,0,33.0,0.00,0.03,0.01,0.03,0.0,2019
200,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.0,2019
201,1,0,0,33,0,0,33.0,0.00,0.05,0.02,0.06,0.0,2019
202,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.0,2019

In [7]:
cleaned_df['Unrealized AY (UAY)'] = cleaned_df['air_yards'] - (cleaned_df['rec_yards'] - cleaned_df['yac'])

cleaned_df['Catch %'] = (cleaned_df['rec']/cleaned_df['targets']) * 100

cleaned_df['AY/rec'] = (cleaned_df['air_yards']/cleaned_df['rec'])

cleaned_df['AY/tgt'] = (cleaned_df['air_yards']/cleaned_df['targets'])

cleaned_df['UAY/tgt'] = (cleaned_df['Unrealized AY (UAY)']/cleaned_df['targets'])

cleaned_df['UAY/rec'] = (cleaned_df['Unrealized AY (UAY)']/cleaned_df['rec'])

cleaned_df

,targets,rec,rec_yards,air_yards,yac,td,adot,racr,ms_air,tgt_share,wopr,ppr,Year,Unrealized AY (UAY),Catch %,AY/rec,AY/tgt,UAY/tgt,UAY/rec
0,154,97,1092,1779,312,13,11.6,0.61,0.39,0.26,0.66,284.2,2009,999,62.987013,18.340206,11.551948,6.487013,10.298969
1,154,101,1120,1367,515,10,8.9,0.82,0.40,0.31,0.74,276.9,2009,762,65.584416,13.534653,8.876623,4.948052,7.544554
2,118,63,1167,1599,404,9,13.6,0.73,0.36,0.22,0.59,253.4,2009,836,53.389831,25.380952,13.550847,7.084746,13.269841
3,72,39,756,1359,143,6,18.9,0.56,0.27,0.13,0.39,155.4,2009,746,54.166667,34.846154,18.875000,10.361111,19.128205
4,90,55,762,1057,241,4,11.7,0.72,0.27,0.20,0.48,154.5,2009,536,61.111111,19.218182,11.744444,5.955556,9.745455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.0,2019,0,NaN,NaN,NaN,NaN,NaN
199,1,0,0,33,0,0,33.0,0.00,0.03,0.01,0.03,0.0,2019,33,0.000000,inf,33.000000,33.000000,inf
200,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.0,2019,0,NaN,NaN,NaN,NaN,NaN
201,1,0,0,33,0,0,33.0,0.00,0.05,0.02,0.06,0.0,2019,33,0.000000,inf,33.000000,33.000000,inf
202,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.0,2019,0,NaN,NaN,NaN,NaN,NaN

In [8]:
cleaned_df = cleaned_df[['Year', 'targets', 'rec', 'Catch %', 'rec_yards', 'air_yards', 'AY/tgt', 'AY/rec', 'yac', 
                        'Unrealized AY (UAY)', 'UAY/tgt', 'UAY/rec', 'adot', 'racr', 'ms_air', 'tgt_share', 'wopr', 'ppr']]

cleaned_df = cleaned_df.rename(columns={'targets':'Targets (tgt)', 'rec':'Receptions (rec)', 
                                        'rec_yards':'Rec Yds', 'air_yards':'Air Yds (AY)',
                                        'yac':'YAC', 'adot':'aDOT', 'racr':'RACR', 'ms_air':'Market Share AY',
                                        'tgt_share':'Tgt Share','wopr':'WOPR', 'ppr': 'PPR Points'
                                       })

cleaned_df = cleaned_df.dropna()

cleaned_df = cleaned_df.round(2)

#df = df.rename(columns={'oldName1': 'newName1', 'oldName2': 'newName2'})

cleaned_df

,Year,Targets (tgt),Receptions (rec),Catch %,Rec Yds,Air Yds (AY),AY/tgt,AY/rec,YAC,Unrealized AY (UAY),UAY/tgt,UAY/rec,aDOT,RACR,Market Share AY,Tgt Share,WOPR,PPR Points
0,2009,154,97,62.99,1092,1779,11.55,18.34,312,999,6.49,10.30,11.6,0.61,0.39,0.26,0.66,284.2
1,2009,154,101,65.58,1120,1367,8.88,13.53,515,762,4.95,7.54,8.9,0.82,0.40,0.31,0.74,276.9
2,2009,118,63,53.39,1167,1599,13.55,25.38,404,836,7.08,13.27,13.6,0.73,0.36,0.22,0.59,253.4
3,2009,72,39,54.17,756,1359,18.88,34.85,143,746,10.36,19.13,18.9,0.56,0.27,0.13,0.39,155.4
4,2009,90,55,61.11,762,1057,11.74,19.22,241,536,5.96,9.75,11.7,0.72,0.27,0.20,0.48,154.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
193,2019,3,1,33.33,6,39,13.00,39.00,6,39,13.00,39.00,13.0,0.15,0.29,0.14,0.42,1.6
194,2019,1,1,100.00,4,2,2.00,2.00,2,0,0.00,0.00,2.0,2.00,0.01,0.02,0.04,1.4
195,2019,3,1,33.33,-4,47,15.67,47.00,-4,47,15.67,47.00,15.7,-0.09,0.21,0.07,0.26,0.6
199,2019,1,0,0.00,0,33,33.00,inf,0,33,33.00,inf,33.0,0.00,0.03,0.01,0.03,0.0
201,2019,1,0,0.00,0,33,33.00,inf,0,33,33.00,inf,33.0,0.00,0.05,0.02,0.06,0.0