In [1]:
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd

In [2]:
ay_2019 = pd.read_csv("../Resources/2019.csv")
ay_2018 = pd.read_csv("../Resources/2018.csv")
ay_2017 = pd.read_csv("../Resources/2017.csv")
ay_2016 = pd.read_csv("../Resources/2016.csv")
ay_2015 = pd.read_csv("../Resources/2015.csv")
ay_2014 = pd.read_csv("../Resources/2014.csv")
ay_2013 = pd.read_csv("../Resources/2013.csv")
ay_2012 = pd.read_csv("../Resources/2012.csv")
ay_2011 = pd.read_csv("../Resources/2011.csv")
ay_2010 = pd.read_csv("../Resources/2010.csv")
ay_2009 = pd.read_csv("../Resources/2009.csv")

df_list = [ay_2019, ay_2018, ay_2017, ay_2016, ay_2015, ay_2014, 
            ay_2013, ay_2012, ay_2011, ay_2010, ay_2009]

#ay_2014.head()

df_list

[     Unnamed: 0        full_name position team  targets  rec  rec_yards  \
 0             1   Michael Thomas       WR   NO      185  149       1725
 1             2     Chris Godwin       WR   TB      121   86       1333
 2             3      Julio Jones       WR  ATL      157   99       1394
 3             4      Cooper Kupp       WR   LA      134   94       1161
 4             5  DeAndre Hopkins       WR  HOU      150  104       1165
 ..          ...              ...      ...  ...      ...  ...        ...
 198         199   Juwann Winfree       WR  DEN        0    0          0
 199         200     Mack Hollins       WR  MIA        1    0          0
 200         201   Matthew Slater       WR   NE        0    0          0
 201         202    Taywan Taylor       WR  CLE        1    0          0
 202         203     Trevor Davis       WR  MIA        0    0          0

      air_yards  yac  td  adot  racr  ms_air  tgt_share  wopr    ppr
 0         1488  583   9   8.0  1.16    0.40       0.32  0.75  374.6
 1         1301  577   9  10.8  1.02    0.23       0.22  0.49  274.1
 2         1913  364   6  12.2  0.73    0.37       0.25  0.63  274.1
 3         1007  538  10   7.5  1.15    0.21       0.21  0.46  270.5
 4         1580  387   7  10.5  0.74    0.34       0.30  0.69  264.3
 ..         ...  ...  ..   ...   ...     ...        ...   ...    ...
 198          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 199         33    0   0  33.0  0.00    0.03       0.01  0.03    0.0
 200          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 201         33    0   0  33.0  0.00    0.05       0.02  0.06    0.0
 202          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0

 [203 rows x 16 columns],
      Unnamed: 0        full_name position team  targets  rec  rec_yards  \
 0             1  DeAndre Hopkins       WR  HOU      163  115       1583
 1             2    Davante Adams       WR   GB      168  110       1370
 2             3      Julio Jones       WR  ATL      169  112       1655
 3             4    Antonio Brown       WR  PIT      167  101       1273
 4             5     Adam Thielen       WR  MIN      153  111       1370
 ..          ...              ...      ...  ...      ...  ...        ...
 162         163   Matthew Slater       WR   NE        0    0          0
 163         164    Nick Williams       WR  TEN        1    0          0
 164         165    Pharoh Cooper       WR  ARI        0    0          0
 165         166    Pharoh Cooper       WR   LA        1    0          0
 166         167     Trevor Davis       WR   GB        0    0          0

      air_yards  yac  td  adot  racr  ms_air  tgt_share  wopr    ppr
 0         1995  384  11  12.2  0.79    0.45       0.32  0.80  338.6
 1         1904  472  13  11.3  0.72    0.36       0.28  0.68  325.0
 2         2420  449   7  14.3  0.68    0.45       0.28  0.73  320.7
 3         1899  461  15  11.4  0.67    0.38       0.26  0.66  318.3
 4         1453  438   9   9.5  0.94    0.33       0.25  0.61  304.2
 ..         ...  ...  ..   ...   ...     ...        ...   ...    ...
 162          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 163         27    0   0  27.0  0.00    0.05       0.01  0.05    0.0
 164          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 165          6    0   0   6.0  0.00    0.00       0.00  0.01    0.0
 166          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0

 [167 rows x 16 columns],
      Unnamed: 0         full_name position team  targets  rec  rec_yards  \
 0             1   DeAndre Hopkins       WR  HOU      174   96       1378
 1             2     Antonio Brown       WR  PIT      162  101       1533
 2             3      Keenan Allen       WR  LAC      159  102       1393
 3             4     Jarvis Landry       WR  MIA      161  112        987
 4             5  Larry Fitzgerald       WR  ARI      161  109       1156
 ..          ...               ...      ...  ...      ...  ...        ...
 150         151     Dwayne Harris       WR  NYG        0    0          0
 151         152    Krishawn Hogan       WR  IND        0    0          0
 152         153    Matthew Slater       WR   NE        0    0          0
 153         154       Stacy Coley       WR  MIN        1    0          0
 154         155     Victor Bolden       WR   SF        0    0          0

      air_yards  yac  td  adot  racr  ms_air  tgt_share  wopr    ppr
 0         2243  359  13  12.9  0.61    0.45       0.35  0.84  311.8
 1         2176  481   9  13.4  0.70    0.45       0.30  0.77  308.3
 2         1479  501   6   9.3  0.94    0.31       0.27  0.63  278.2
 3         1023  498   9   6.4  0.96    0.21       0.27  0.55  264.0
 4         1354  408   6   8.4  0.85    0.23       0.27  0.56  260.6
 ..         ...  ...  ..   ...   ...     ...        ...   ...    ...
 150          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 151          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 152          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 153          6    0   0   6.0  0.00    0.01       0.01  0.03    0.0
 154          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0

 [155 rows x 16 columns],
      Unnamed: 0       full_name position team  targets  rec  rec_yards  \
 0             1   Antonio Brown       WR  PIT      154  106       1284
 1             2    Jordy Nelson       WR   GB      152   97       1257
 2             3      Mike Evans       WR   TB      171   96       1321
 3             4   Odell Beckham       WR  NYG      169  101       1367
 4             5     T.Y. Hilton       WR  IND      155   91       1448
 ..          ...             ...      ...  ...      ...  ...        ...
 160         161      Eric Weems       WR  ATL        0    0          0
 161         162    Isaiah Burse       WR   SD        4    0          0
 162         163   Kalif Raymond       WR  DEN        2    0          0
 163         164  Kasen Williams       WR  SEA        1    0          0
 164         165     Vince Mayle       WR  DAL        0    0          0

      air_yards  yac  td  adot  racr  ms_air  tgt_share  wopr    ppr
 0         1584  434  12  10.3  0.81    0.33       0.28  0.65  307.3
 1         1862  361  14  12.2  0.68    0.35       0.25  0.61  306.7
 2         2500  179  12  14.6  0.53    0.43       0.30  0.74  300.1
 3         1849  534  10  10.9  0.74    0.39       0.28  0.70  298.6
 4         1898  342   6  12.2  0.76    0.39       0.27  0.67  271.8
 ..         ...  ...  ..   ...   ...     ...        ...   ...    ...
 160          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 161         64    0   0  16.0  0.00    0.03       0.01  0.04    0.0
 162         66    0   0  33.0  0.00    0.05       0.01  0.06    0.0
 163         10    0   0  10.0  0.00    0.03       0.03  0.06    0.0
 164          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0

 [165 rows x 16 columns],
      Unnamed: 0         full_name position team  targets  rec  rec_yards  \
 0             1     Antonio Brown       WR  PIT      193  136       1834
 1             2       Julio Jones       WR  ATL      203  136       1871
 2             3  Brandon Marshall       WR  NYJ      173  109       1502
 3             4   DeAndre Hopkins       WR  HOU      191  111       1521
 4             5     Odell Beckham       WR  NYG      158   96       1449
 ..          ...               ...      ...  ...      ...  ...        ...
 122         123    Matthew Slater       WR   NE        1    0          0
 123         124     Neal Sterling       WR  JAC        0    0          0
 124         125         Quan Bray       WR  IND        0    0          0
 125         126       Vince Mayle       WR  DAL        1    0          0
 126         127       Walt Powell       WR  BUF        0    0          0

      air_yards  yac  td  adot  racr  ms_air  tgt_share  wopr    ppr
 0         2123  587  10  11.0  0.86    0.36       0.33  0.74  382.2
 1         2063  641   8  10.2  0.91    0.43       0.33  0.79  371.1
 2         2096  442  14  12.1  0.72    0.38       0.29  0.69  343.2
 3         2674  231  11  14.0  0.57    0.45       0.31  0.78  329.1
 4         1829  589  13  11.6  0.79    0.41       0.27  0.69  319.2
 ..         ...  ...  ..   ...   ...     ...        ...   ...    ...
 122         34    0   0  34.0  0.00    0.01       0.00  0.01    0.0
 123          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 124          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 125         23    0   0  23.0  0.00    0.10       0.03  0.11    0.0
 126          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0

 [127 rows x 16 columns],
     Unnamed: 0         full_name position team  targets  rec  rec_yards  \
 0            1     Antonio Brown       WR  PIT      181  129       1698
 1            2  Demaryius Thomas       WR  DEN      184  111       1619
 2            3      Jordy Nelson       WR   GB      151   98       1519
 3            4        Dez Bryant       WR  DAL      136   88       1320
 4            5  Emmanuel Sanders       WR  DEN      141  101       1404
 ..         ...               ...      ...  ...      ...  ...        ...
 89          90    Chris Matthews       WR  SEA        0    0          0
 90          91      Isaiah Burse       WR  DEN        1    0          0
 91          92      Josh Bellamy       WR  CHI        1    0          0
 92          93    Matthew Slater       WR   NE        0    0          0
 93          94       Walt Powell       WR  NYJ        0    0          0

     air_yards  yac  td  adot  racr  ms_air  tgt_share  wopr    ppr
 0        1831  601  13  10.1  0.93    0.33       0.30  0.67  378.1
 1        1832  659  11  10.0  0.88    0.36       0.30  0.71  338.9
 2        1727  496  13  11.4  0.88    0.40       0.28  0.70  327.9
 3        1621  436  16  11.9  0.81    0.39       0.29  0.70  316.0
 4        1761  379   9  12.5  0.80    0.35       0.23  0.59  299.8
 ..        ...  ...  ..   ...   ...     ...        ...   ...    ...
 89          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 90         20    0   0  20.0  0.00    0.01       0.00  0.01    0.0
 91         51    0   0  51.0  0.00    0.17       0.03  0.16    0.0
 92          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 93          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0

 [94 rows x 16 columns],
     Unnamed: 0         full_name position team  targets  rec  rec_yards  \
 0            1  Demaryius Thomas       WR  DEN      142   92       1430
 1            2       Josh Gordon       WR  CLE      159   87       1646
 2            3        A.J. Green       WR  CIN      178   98       1426
 3            4  Brandon Marshall       WR  CHI      164  100       1295
 4            5     Antonio Brown       WR  PIT      165  109       1438
 ..         ...               ...      ...  ...      ...  ...        ...
 61          62        Eric Weems       WR  CHI        2    1          8
 62          63      Brandon Tate       WR  CIN        2    1          6
 63          64      Josh Bellamy       WR  WAS        0    0          0
 64          65    Matthew Slater       WR   NE        0    0          0
 65          66   Russell Shepard       WR   TB        0    0          0

     air_yards  yac  td  adot  racr  ms_air  tgt_share  wopr    ppr
 0        1385  707  14   9.8  1.03    0.27       0.21  0.50  319.0
 1        2133  675   9  13.4  0.77    0.44       0.27  0.71  314.4
 2        2232  390  11  12.5  0.64    0.45       0.30  0.77  306.6
 3        2000  279  12  12.2  0.65    0.40       0.28  0.70  301.5
 4        1785  559   8  10.8  0.81    0.37       0.29  0.69  301.2
 ..        ...  ...  ..   ...   ...     ...        ...   ...    ...
 61         22    4   0  11.0  0.36    0.01       0.01  0.02    1.8
 62         13    0   0   6.5  0.46    0.00       0.00  0.01    1.6
 63          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 64          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0
 65          0    0   0   NaN   NaN    0.00       0.00  0.00    0.0

 [66 rows x 16 columns],
     Unnamed: 0            full_name position team  targets  rec  rec_yards  \
 0            1     Brandon Marshall       WR  CHI      192  118       1508
 1            2           A.J. Green       WR  CIN      164   97       1350
 2            3     Demaryius Thomas       WR  DEN      141   94       1442
 3            4           Dez Bryant       WR  DAL      135   89       1357
 4            5          Eric Decker       WR  DEN      122   85       1064
 5            6          Julio Jones       WR  ATL      128   79       1198
 6            7     Michael Crabtree       WR   SF      127   85       1105
 7            8         Randall Cobb       WR   GB      104   80        954
 8            9        Jeremy Maclin       WR  PHI      122   69        857
 9           10         Mike Wallace       WR  PIT      119   64        838
 10          11         Torrey Smith       WR  BAL      110   49        855
 11          12      Justin Blackmon       WR  JAC      132   64        865
 12          13          T.Y. Hilton       WR  IND       90   50        861
 13          14        Antonio Brown       WR  PIT      106   66        787
 14          15     Larry Fitzgerald       WR  ARI      156   71        798
 15          16        Andre Roberts       WR  ARI      114   64        759
 16          17         Jordy Nelson       WR   GB       73   49        745
 17          18          Josh Gordon       WR  CLE       95   50        805
 18          19          Golden Tate       WR  SEA       67   45        682
 19          20        Jeremy Kerley       WR  NYJ       95   56        827
 20          21       Kendall Wright       WR  TEN      104   64        626
 21          22       Danny Amendola       WR  STL      101   63        666
 22          23       Brandon LaFell       WR  CAR       76   44        677
 23          24        Pierre Garcon       WR  WAS       68   45        644
 24          25  Darrius Heyward-Bey       WR  OAK       80   41        606
 25          26          Kenny Britt       WR  TEN       90   45        589
 26          27       DeSean Jackson       WR  PHI       87   45        700
 27          28        Michael Floyd       WR  ARI       86   45        562
 28          29     Emmanuel Sanders       WR  PIT       74   44        626
 29          30        Harry Douglas       WR  ATL       59   38        396
 30          31         Doug Baldwin       WR  SEA       50   29        366
 31          32       Alshon Jeffery       WR  CHI       48   24        367
 32          33       Julian Edelman       WR   NE       32   21        235
 33          34      Travis Benjamin       WR  CLE       37   18        298
 34          35        Jarius Wright       WR  MIN       36   22        310
 35          36         Mohamed Sanu       WR  CIN       25   16        154
 36          37     Aldrick Robinson       WR  WAS       19   11        237
 37          38         Marvin Jones       WR  CIN       32   18        201
 38          39        Dwayne Harris       WR  DAL       31   17        222
 39          40         Brandon Tate       WR  CIN       25   13        211
 40          41          Brian Quick       WR  STL       27   11        156
 41          42         Cole Beasley       WR  DAL       24   15        128
 42          43     Rishard Matthews       WR  MIA       20   11        151
 43          44       Terrelle Pryor       WR  OAK        1    1         22
 44          45      Deonte Thompson       WR  BAL        6    5         51
 45          46       Arrelious Benn       WR   TB        6    4         26
 46          47      Jermaine Kearse       WR  SEA        7    3         31
 47          48           Eric Weems       WR  CHI        4    2         27
 48          49         Andre Holmes       WR  DAL        2    2         11
 49          50             Ted Ginn       WR   SF        2    2          1
 50          51         Josh Bellamy       WR   KC        0    0          0
 51          52       Matthew Slater       WR   NE        0    0          0

     air_yards  yac  td   adot  racr  ms_air  tgt_share  wopr    ppr
 0        2327  339  11   12.1  0.65    0.49       0.40  0.94  334.6
 1        2239  361  11   13.7  0.60    0.48       0.30  0.79  301.8
 2        1521  567  10   10.8  0.95    0.32       0.24  0.58  298.2
 3        1657  438  12   12.3  0.82    0.29       0.21  0.51  296.2
 4        1385  267  13   11.4  0.77    0.29       0.21  0.51  269.4
 5        1521  511  10   11.9  0.79    0.31       0.21  0.53  261.8
 6         965  544   9    7.6  1.15    0.25       0.29  0.62  250.3
 7         816  456   8    7.8  1.17    0.19       0.20  0.44  236.6
 8        1315  253   7   10.8  0.65    0.27       0.21  0.50  196.7
 9        1621  268   8   13.6  0.52    0.33       0.22  0.55  196.5
 10       2002  211   8   18.2  0.43    0.37       0.20  0.55  183.4
 11       1438  284   5   10.9  0.60    0.29       0.23  0.54  182.8
 12       1115  378   7   12.4  0.77    0.19       0.15  0.36  181.0
 13       1095  353   5   10.3  0.72    0.27       0.23  0.53  177.1
 14       1623  282   4   10.4  0.49    0.34       0.26  0.62  174.8
 15       1091  221   5    9.6  0.70    0.24       0.20  0.47  172.8
 16        898  251   7   12.3  0.83    0.27       0.17  0.45  165.5
 17       1248  331   5   13.1  0.65    0.30       0.17  0.46  160.5
 18        946  258   7   14.1  0.72    0.24       0.18  0.44  157.2
 19        971  292   2   10.2  0.85    0.22       0.19  0.44  151.5
 20        724  314   4    7.0  0.86    0.16       0.20  0.42  151.0
 21        805  240   3    8.0  0.83    0.26       0.27  0.59  148.4
 22        780  318   4   10.3  0.87    0.21       0.19  0.43  139.2
 23        673  313   4    9.9  0.96    0.32       0.27  0.62  133.6
 24       1059  230   5   13.2  0.57    0.22       0.13  0.35  133.2
 25       1144  138   4   12.7  0.51    0.27       0.19  0.47  127.9
 26       1295  225   2   14.9  0.54    0.36       0.21  0.57  126.3
 27        967  158   2   11.2  0.58    0.21       0.15  0.37  113.2
 28        893  185   1   12.1  0.70    0.17       0.13  0.32  113.0
 29        504  153   1    8.5  0.79    0.10       0.10  0.22   84.0
 30        618   82   3   12.4  0.59    0.17       0.14  0.33   83.6
 31        759   65   3   15.8  0.48    0.24       0.16  0.40   78.7
 32        239  138   3    7.5  0.98    0.08       0.09  0.20   67.0
 33        534   69   2   14.4  0.56    0.15       0.08  0.22   66.4
 34        383  109   2   10.6  0.81    0.25       0.18  0.44   66.1
 35        210   71   4    8.4  0.73    0.13       0.13  0.29   56.9
 36        358   62   3   18.8  0.66    0.16       0.07  0.22   54.1
 37        397   34   1   12.4  0.51    0.16       0.12  0.29   48.8
 38        301  115   1    9.7  0.74    0.06       0.05  0.11   45.2
 39        313   60   1   12.5  0.67    0.07       0.05  0.12   40.1
 40        335   32   2   12.4  0.47    0.08       0.05  0.14   38.6
 41        125   59   0    5.2  1.02    0.05       0.07  0.14   27.8
 42        241   30   0   12.1  0.63    0.12       0.10  0.23   26.1
 43        313   21   0  313.0  0.07    0.38       0.01  0.29   14.3
 44         45   23   0    7.5  1.13    0.02       0.03  0.06   10.1
 45         21   22   0    3.5  1.24    0.01       0.02  0.04    8.2
 46         93    1   0   13.3  0.33    0.08       0.06  0.14    6.1
 47         42    1   0   10.5  0.64    0.01       0.01  0.03    4.7
 48         24    3   0   12.0  0.46    0.02       0.01  0.03    3.1
 49         -4    5   0   -2.0 -0.25    0.00       0.01  0.01    2.8
 50          0    0   0    NaN   NaN    0.00       0.00  0.00    0.0
 51         13    0   0    inf  0.00    0.00       0.00  0.00    0.0  ,
     Unnamed: 0            full_name position team  targets  rec  rec_yards  \
 0            1         Jordy Nelson       WR   GB       96   68       1263

In [3]:
###ADD YEAR###

year = 2019

for df in df_list:
    
    df["Year"] = year
    
    year -= 1

df_list[4]

,Unnamed: 0,full_name,position,team,targets,rec,rec_yards,air_yards,yac,td,adot,racr,ms_air,tgt_share,wopr,ppr,Year
0,1,Antonio Brown,WR,PIT,193,136,1834,2123,587,10,11.0,0.86,0.36,0.33,0.74,382.2,2015
1,2,Julio Jones,WR,ATL,203,136,1871,2063,641,8,10.2,0.91,0.43,0.33,0.79,371.1,2015
2,3,Brandon Marshall,WR,NYJ,173,109,1502,2096,442,14,12.1,0.72,0.38,0.29,0.69,343.2,2015
3,4,DeAndre Hopkins,WR,HOU,191,111,1521,2674,231,11,14.0,0.57,0.45,0.31,0.78,329.1,2015
4,5,Odell Beckham,WR,NYG,158,96,1449,1829,589,13,11.6,0.79,0.41,0.27,0.69,319.2,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122,123,Matthew Slater,WR,NE,1,0,0,34,0,0,34.0,0.00,0.01,0.00,0.01,0.0,2015
123,124,Neal Sterling,WR,JAC,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.0,2015
124,125,Quan Bray,WR,IND,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.0,2015
125,126,Vince Mayle,WR,DAL,1,0,0,23,0,0,23.0,0.00,0.10,0.03,0.11,0.0,2015
126,127,Walt Powell,WR,BUF,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.0,2015

In [4]:
merged_df = pd.concat(df_list)

In [5]:
merged_df

,Unnamed: 0,full_name,position,team,targets,rec,rec_yards,air_yards,yac,td,adot,racr,ms_air,tgt_share,wopr,ppr,Year
0,1,Michael Thomas,WR,NO,185,149,1725,1488,583,9,8.0,1.16,0.40,0.32,0.75,374.6,2019
1,2,Chris Godwin,WR,TB,121,86,1333,1301,577,9,10.8,1.02,0.23,0.22,0.49,274.1,2019
2,3,Julio Jones,WR,ATL,157,99,1394,1913,364,6,12.2,0.73,0.37,0.25,0.63,274.1,2019
3,4,Cooper Kupp,WR,LA,134,94,1161,1007,538,10,7.5,1.15,0.21,0.21,0.46,270.5,2019
4,5,DeAndre Hopkins,WR,HOU,150,104,1165,1580,387,7,10.5,0.74,0.34,0.30,0.69,264.3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,12,Jordy Nelson,WR,GB,31,22,320,374,89,2,12.1,0.86,0.09,0.07,0.17,66.0,2009
12,13,Darrius Heyward-Bey,WR,OAK,40,9,124,637,12,1,15.9,0.19,0.22,0.13,0.35,29.3,2009
13,14,Eric Weems,WR,ATL,6,6,50,28,22,2,4.7,1.79,0.01,0.01,0.02,28.3,2009
14,15,Brandon Tate,WR,NE,2,0,0,73,0,0,36.5,0.00,0.12,0.03,0.13,1.1,2009
15,16,Matthew Slater,WR,NE,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.6,2009

In [7]:
###Clean DF for ML###

cleaned_df = merged_df.drop(columns=["full_name", "Unnamed: 0", "position", "team"])

cleaned_df

,targets,rec,rec_yards,air_yards,yac,td,adot,racr,ms_air,tgt_share,wopr,ppr,Year
0,185,149,1725,1488,583,9,8.0,1.16,0.40,0.32,0.75,374.6,2019
1,121,86,1333,1301,577,9,10.8,1.02,0.23,0.22,0.49,274.1,2019
2,157,99,1394,1913,364,6,12.2,0.73,0.37,0.25,0.63,274.1,2019
3,134,94,1161,1007,538,10,7.5,1.15,0.21,0.21,0.46,270.5,2019
4,150,104,1165,1580,387,7,10.5,0.74,0.34,0.30,0.69,264.3,2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11,31,22,320,374,89,2,12.1,0.86,0.09,0.07,0.17,66.0,2009
12,40,9,124,637,12,1,15.9,0.19,0.22,0.13,0.35,29.3,2009
13,6,6,50,28,22,2,4.7,1.79,0.01,0.01,0.02,28.3,2009
14,2,0,0,73,0,0,36.5,0.00,0.12,0.03,0.13,1.1,2009
15,0,0,0,0,0,0,NaN,NaN,0.00,0.00,0.00,0.6,2009